[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/snipmate"]
	path = .vim/bundle/snipmate
	url = http://github.com/msanders/snipmate.vim.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = http://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/ack"]
	path = .vim/bundle/ack
	url = http://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = http://github.com/scrooloose/syntastic.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/bundle/minibufexpl"]
	path = vim/bundle/minibufexpl
	url = git@github.com:vim-scripts/minibufexpl.vim.git
[submodule ".dotfiles/bundle/ingretu"]
	path = .dotfiles/bundle/ingretu
	url = http://github.com/gmarik/ingretu.git
[submodule "vim/bundle/ingretu"]
	path = vim/bundle/ingretu
	url = http://github.com/gmarik/ingretu.git
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = http://github.com/wincent/command-t.git
[submodule "vim/bundle/Command-T"]
	path = vim/bundle/Command-T
	url = http://github.com/wincent/Command-T.git
